/* .layout-side-section{
  background: url("https://i.pinimg.com/736x/89/3a/46/893a46bcea56bb4f940f791631533a78.jpg") no-repeat center center fixed;
} */
/* default light mode style's */
[data-theme="dark"]{
  --card-bg:transparent;
  }
[data-theme="dark"] .btn {
  filter: invert(1) grayscale(1);
}
[data-theme="light"]{
  --control-bg:transparent;
  --icon-stroke:var(--gray-600);


  --card-bg:transparent;
    --height_bi:unset;
    --dt-light-yellow:yellow !important; 

    /* --- helper's */
    --radius:.25em;

    --base-varibale:unset;

    /* --- clr's   */
    --primary_clr:unset   ;   /* Buttons, links, main theme */
    --secondry_clr:   #fcfdff;   /* Lighter accents */
    --default_clr:    #f8fbff;   /* Default backgrounds */
  
    --active_bg_clr:  var(--base-varibale);   /* Hover/active background */
    --active_txt_clr: #e2edff;     /* Text on active elements */
  
    --cancle:138, 0, 0;
}
[data-theme="dark"]  .btn ,button:not(.btn-reset), 
[data-theme="light"]  .btn ,button:not(.btn-reset) {
  background: var(--control-bg) !important;
}
[data-theme="light"]  .btn ,button:not(.btn-reset) {
  color: #000 !important;
}


[data-theme="dark"] .primary-action{
  background:white !important;
  color: #000!important;
}
[data-theme="dark"]  .dropdown-item{
  color: #ffffff !important;
}
/* Collapsed state */
.sidebar.collapsed {
  width: 40px !important;
  overflow: hidden;
  transition: width 0.3s ease;
}

/* Hide label text inside collapsed sidebar */
.sidebar.collapsed .sidebar-item-label {
  display: none;
}

/* Optionally center icons */
.sidebar.collapsed .sidebar-item-icon {
  margin: auto;
  display: flex;
  justify-content: center;
}

/* Expanded state */
.sidebar.expanded {
  width: 200px; /* or your default */
  transition: width 0.3s ease;
}

[data-theme="healthcare_theme"]{


    /* override's */
    --height_bi:40px;
    
    /* --- helper's */
    --radius:.25em;
    
    --base-varibale:#0d6efd;
    
    /* --- clr's   */
    --dt-light-yellow:#a9b7ff !important; 
    
    
    
    /* Base OKLCH components */
    --base-l: 60%;       /* Lightness */
    --base-c: 0.25;      /* Chroma (color strength) */
    --base-h: 290;       /* Hue */
    
 /* 
 theme
 --base-h: 
  20 -> pitch shades
  90 -> yellow shades
  120 -> lime shades
  150 -> green shades
  176 -> blue shades
  240 -> dark blue shades
  250 -> defaulr shdaes
  290 -> purple shades  
  310 -> megenta shades
  225 -> pink shade
 
 
  // -----
  1003 -> purple shades
  1036 -> magenta
 */


    /* Derived shades */
    --timeline-badge-color: oklch(var(--base-l) var(--base-c) var(--base-h));
    --dark-border-color:oklch(97% 0.05 var(--base-h));
    --sidebar-select-color:oklch(97% 0.05 var(--base-h)) ;
    --subtle-fg:oklch(97% 0.05 var(--base-h)) ;
    --control-bg: oklch(97% 0.05 var(--base-h));
    --primary_clr:     oklch(var(--base-l) var(--base-c) var(--base-h));
    --secondry_clr:    oklch(70% var(--base-c) var(--base-h));  /* lighter */
    --default_clr:     oklch(85% 0.15 var(--base-h));           /* even lighter */
    --active_bg_clr:   oklch(55% var(--base-c) var(--base-h));  /* darker */
    --active_txt_clr:oklch(95% 0.15 var(--base-h));           /* very light text */
   --card-bg: oklch(95% 0.05 var(--base-h));



  --cancle:138, 0, 0;



    /* text's size */
        --text-tiny: 11px;
    --text-2xs: 12px;
    --text-xs: 12px;
    --text-sm: 14px;
    --text-md: 13px;
    --text-base: 16px;
    --text-lg: 20px;
    --text-xl: 20px;
    --text-2xl: 20px;
    --text-3xl: 24px;
    --text-4xl: 26px;
    --text-5xl: 28px;
    --text-6xl: 32px;
    --text-7xl: 40px;
    --text-8xl: 44px;
    --text-9xl: 48px;
    --text-10xl: 52px;
    --text-11xl: 56px;
    --text-12xl: 64px;


    --animation-cubic:all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    --animation-ease:all 200ms ease-in-out;

}

@media (min-width: 768px) {
    body.full-width .container {
        width: 100% !important;
        max-width: 100%;
    }
}


/* btn's =========================================== */


[data-theme="healthcare_theme"] [data-label="New"],

[data-theme="healthcare_theme"] [data-label="Edit"] {
  line-height: 1 !important;
}
[data-theme="healthcare_theme"] [data-label="New"] svg use {
  --icon-stroke: #28a745 !important;
  --icon-fill: #28a745 !important;
}
[data-theme="healthcare_theme"] [data-label="New"] {
  --default_clr: #daf0e1 !important;
  color:#28a745;
}
[data-theme="healthcare_theme"]  .btn .btn-primary .btn-sm .primary-action {
    --active_txt_clr: #000;
    background: whitesmoke !important;
    padding: .5em .75em !important;
    /* line-height: 2; */
    border: unset;
}

[data-theme="healthcare_theme"] div#driver-popover-item .driver-popover-footer .driver-close-btn{
  background: rgba(var(--cancle),.15) !important;
  color: rgba(var(--cancle)) !important;
  padding-inline: .5em !important;
}

[data-theme="healthcare_theme"] .btn-remove-perm{
  background: rgba(var(--cancle),.75) !important;

  color: rgba(var(--cancle)) !important;
  padding-inline: .5em !important;
}
[data-theme="healthcare_theme"]  rect.day {

    fill: var(--default_clr );
}
[data-theme="healthcare_theme"] .btn.btn-secondary {
    background:var(--secondry_clr) !important;
    padding: .5em .75em !important;
    
      /* line-height: 2; */
  }
[data-theme="healthcare_theme"] .btn.btn-default {
    background:var(--default_clr) !important;
    padding: .5em .75em !important;
      /* line-height: 2; */
  }
[data-theme="healthcare_theme"] .btn.btn-primary {
    background:var(--primary_clr) !important;
    padding: .5em .75em !important;
    color: var(--active_txt_clr) !important;
      /* line-height: 2; */
  }
[data-theme="healthcare_theme"] .btn.btn-primary span{
    color: #000 !important;
  }
[data-theme="healthcare_theme"] .btn-sm{
    background:var(--default_clr) !important;
    padding: .5em .75em !important;
  }
[data-theme="healthcare_theme"] .btn.btn-primary[data-label="Save"],
[data-theme="healthcare_theme"] .add-btn-text {
    background:rgba(106, 255, 106, 0.534) !important;
    padding: .5em .75em !important;
      /* line-height: 2; */
      border: unset;
  }

[data-theme="healthcare_theme"] #toolbar-user:last-child{
    color: rgba(var(--cancle),.25) !important;
  }
[data-theme="healthcare_theme"] .btn[data-label="Discard"]{
    background:rgba(var(--cancle) , .75) !important;
    padding: .5em .75em !important;
      /* line-height: 2; */
  }
[data-theme="healthcare_theme"] .btn.filter-chart{
    background:#ffe3b0 !important;
    padding: .65em .75em !important;
     } 
     /* .widget.dashboard-widget-box .filter-chart {
    background-color: var(--control-bg);
    background: orange;
    padding: 0.65em !important;
} */
[data-theme="healthcare_theme"] .btn.btn-secondary.clear-filters{
      background: rgba(var(--cancle),.15) !important;
      color: rgba(var(--cancle)) !important;
     }
[data-theme="healthcare_theme"] .grid-download.btn{
          background: #b1ffa8 !important;
  }
 [data-theme="healthcare_theme"] .grid-upload.btn{
        background: #ffc9ae !important;
   }
[data-theme="healthcare_theme"] .add-filter.btn {
    background:#ffe3b0 !important;
    color: #7f5241 !important;
   }
     /*popup code  */

     /*label  */


/* ----------------------------------------------------------------------
popup's btn's 
-------------------------------------------------------------------------*/
[data-theme="healthcare_theme"] [data-dismiss="modal"] svg use.close-alt,
 .btn-danger svg use[href = "icon-delete"]{
    --icon-stroke: rgba(var(--cancle));
   color: var(--icon-stroke) !important;
}

[data-theme="healthcare_theme"] .liked use.like-icon{
      --icon-stroke: rgb(255, 91, 91) !important;
}

[data-theme="healthcare_theme"] [data-dismiss="modal"]{
    --primary: rgba(var(--cancle),.15);
   background: var(--primary) !important;
}


/* ----------------------------------------------------------------------
driver's btn's 
-------------------------------------------------------------------------*/
[data-theme="healthcare_theme"] .driver-close-btn,
[data-theme="healthcare_theme"] .btn.btn-danger.btn-sm.pull-right.grid-delete-row{
  background: rgba(var(--cancle),.15) !important;
  color: rgba(var(--cancle)) !important;
  padding-inline: .5em !important;
} 
[data-theme="healthcare_theme"] .driver-next-btn{
  background: var(--primary_clr) !important;
  color: var(--active_txt_clr) !important;
}
[data-theme="healthcare_theme"] .driver-prev-btn{
  background: var(--default_clr) !important;
}


/* ==========================================================================
 onboarding styl's 
 ===========================================================================*/
[data-theme="healthcare_theme"] .onboarding-step svg.es-icon{
  --icon-stroke: var(--success);
   color: var(--icon-stroke) !important;
}

[data-theme="healthcare_theme"] .widget.onboarding-widget-box .widget-body .onboarding-step.skipped {
    color: #ff6565;
    background-color: #ffd2d2;
}
[data-theme="healthcare_theme"] .widget.onboarding-widget-box .widget-body .onboarding-step.complete{
   color: #036100;
    background-color: #c9e0c8;
}
[data-theme="healthcare_theme"] .onboarding-step.skipped svg.es-icon {
    --icon-stroke: #e03636 !important;
    color: var(--icon-stroke) !important; 
}
[data-theme="healthcare_theme"] .widget-control.indicator-pill.no-indicator-dot{
  position: absolute;
  bottom: 0;
  right: .25em;
  scale: .85;
  z-index: 1;
}
[data-theme="healthcare_theme"] #nav-modules-link {
  font-weight: 500;
  color: var(--primary_clr) !important;
}
[data-theme="healthcare_theme"] #nav-modules-link:hover {
  background-color: red;
}

/* ==========================================================================
 sidebar's styl's 
 ===========================================================================*/
[data-theme="healthcare_theme"] [data-page-route=Workspaces] .layout-main .layout-side-section {
        padding-right: 15px;
        width: 200px;
}
[data-theme="healthcare_theme"] .sidebar-item-container{
  /* height: var(--height_bi); */
  margin-block: .25em;
  margin-left: 0px; 
}

[data-theme="healthcare_theme"] .sidebar-item-container .desk-sidebar-item{
  /* height: 100%; */
      padding: .5em 0em;

  border-radius: .5em !important;
}

[data-theme="healthcare_theme"] .standard-sidebar-item.selected
{

  background: var(--active_bg_clr) !important;
  color: var(--active_txt_clr);
}


[data-theme="healthcare_theme"] .standard-sidebar-item.selected .item-anchor .sidebar-item-label
{
  color: var(--active_txt_clr) !important;
}
[data-theme="healthcare_theme"] .desk-sidebar-item.standard-sidebar-item.selected .sidebar-item-icon svg {
  --icon-stroke:var(--active_txt_clr);
  /* color: var(--active_txt_clr) !important; */
}

[data-theme="healthcare_theme"] .desk-sidebar-item.standard-sidebar-item.selected .sidebar-item-icon .icon .es-icon {
  --icon-stroke:var(--active_txt_clr);
  /* color: var(--active_txt_clr) !important; */
}



/* ===================================================================================
navbar's style's
=================================================================================== */

[data-theme="healthcare_theme"] .navbar{
        height: 90px;
}
[data-theme="healthcare_theme"] [role="search"],
[data-theme="light"] [role="search"],
[data-theme="dark"] [role="search"]
{
    margin-left: auto;
    display: flex !important;
    align-items: center;
    justify-content: end ;
}
[data-theme="healthcare_theme"] [role="search"] .search-bar{
    max-width: 250px !important;
}
[data-theme="healthcare_theme"] .search-bar input{
    height: 50px !important;
    width: 100%;
    border-radius: 50em;
}

[data-theme="healthcare_theme"] .search-bar input:focus{
    border-radius: 10em !important  ;
}
[data-theme="healthcare_theme"] .list-sidebar .list-filters input:not([data-fieldtype=Check]){
  background-color: var(--active_txt_clr);
}
[data-theme="healthcare_theme"] .dropdown-help{
  order:2;
}
[data-theme="healthcare_theme"] .dropdown-navbar-user{
    height: 50px;
    aspect-ratio: 1;
    border-radius: 50em;
}
[data-theme="healthcare_theme"] .dropdown-navbar-user button{
    height: 100%;
    width: 100%;
    border-radius: 50em;
    padding: 0;
}
[data-theme="healthcare_theme"] .avatar .standard-image {
    border-radius: 50em;
    height: 100%;
    width: 100%;
}
[data-theme="healthcare_theme"] .navbar-expand .navbar-nav .avatar-medium {
    height: 100%;
    width: 100%;
    border-radius: 50em;
}

[data-theme="healthcare_theme"] .navbar-expand .navbar-nav .avatar-frame{
    height: 100%;
    width: 100%;
    border-radius: 50em;

}

[data-theme="healthcare_theme"] .ce-block__content{
transition: var(--animation-ease);
}




/* shortcut-widget-box */
[data-theme="healthcare_theme"] .shortcut-widget-box{
  background: transparent !important;
}
[data-theme="healthcare_theme"] .shortcut-widget-box {
  position: relative;
  height: 40px;
  padding: .25em .75em;
  margin: unset;
  border-radius: 50em;
  background: var(--active_txt_clr) !important;
  overflow: hidden;
  transition: all 0.25s cubic-bezier(0.310, -0.105, 0.430, 1.400);
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

[data-theme="healthcare_theme"] .shortcut-widget-box .widget-head {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: .75em;
  position: relative;
}

[data-theme="healthcare_theme"] .shortcut-widget-box .widget-title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

[data-theme="healthcare_theme"] .shortcut-widget-box .widget-title span {
  transition: all 0.25s ease;
  position: relative;

  line-height: 2;
  text-align: center;
  display: inline-block;
}

/* ICON Styling */
[data-theme="healthcare_theme"] .shortcut-widget-box .widget-control {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.25s ease;
  opacity: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

[data-theme="healthcare_theme"] .shortcut-widget-box .widget-control svg {
  font-size: 18px;
  height: 18px;
  width: 18px;
  transition: transform 0.25s ease;
  --iocn-stroke:var(--active_bg_clr) !important;
}

/* On Hover */
[data-theme="healthcare_theme"] .shortcut-widget-box:hover .widget-title span {
  opacity: 0;
  position: absolute;
}

[data-theme="healthcare_theme"] .shortcut-widget-box:hover .widget-control {
  opacity: 1;
}



/* leftover */
[data-theme="healthcare_theme"] .widget-control .indicator-pill:not(.title-area) {
  color: var(--active_txt_clr);
  background: var(--primary_clr);
}
[data-theme="healthcare_theme"] [data-page-route=Workspaces] .codex-editor .codex-editor__redactor .ce-block .ce-block__content .widget.spacer,
.dashboard-widget-box {
  border: unset !important;
  background: transparent !important;
}
[data-theme="healthcare_theme"] .links-widget-box .widget-body a:hover{
  scale: .97;
}
[data-theme="healthcare_theme"] .links-widget-box .widget-body{
  display: flex;
  align-self:start;
  justify-content: start;
  flex-wrap: wrap;
  gap: 1em;
}
[data-theme="healthcare_theme"] .widget.links-widget-box .link-item:first-child {
    margin-top: 0px !important;
}

[data-theme="healthcare_theme"] .links-widget-box .widget-body a{
  background: var(--card-bg) !important;
  border-radius: 50em !important;
  padding-inline:.75em !important;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
    transition: var(--animation-cubic);
}
[data-theme="healthcare_theme"] .links-widget-box .widget-body .es-icon{
  display: none !important;
} 
[data-theme="healthcare_theme"] .links-widget-box .widget-body a:hover span{
  color: var(--primary_clr) !important;
}

[data-theme="healthcare_theme"] .links-widget-box  .widget-body a span{
line-height: 2;

}

[data-theme="healthcare_theme"] #toolbar-user:last-child{
    color: rgba(var(--cancle),.25) !important;
  }
  
[data-theme="healthcare_theme"] .widget.links-widget-box{
        background: transparent;
    border-radius: 2em;
    padding: 2em;
  }

[data-theme="healthcare_theme"] .widget .widget-head .widget-title span{
    line-height: 2.5;
  }


  /* acc - number's */
[data-theme="healthcare_theme"] .number-widget-box{
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
    justify-content: center;
    background: transparent !important;
    border: unset !important;
  }
[data-theme="healthcare_theme"] .number-widget-box .widget-body{
    width: 100%;
    }
[data-theme="healthcare_theme"] .number-widget-box .widget-head{
      display: flex;  
      align-items: center;
      justify-content: space-between;
      background: var(--card-bg);
      width: 100%;
      border-radius: 50em;
      margin-top: .25em;
      padding-inline: .75em;
    }
[data-theme="healthcare_theme"] .number-widget-box .number{
    text-align: center;
    font-size: 3vw !important;
  }


  /* module */


[data-theme="healthcare_theme"] .form-sidebar-items button .es-icon,
[data-theme="healthcare_theme"] .form-sidebar-items button.drop-icon svg use {
    --icon-stroke:var(--secondry_clr);
    --icon-fill:var(--primary_clr);

  }
[data-theme="healthcare_theme"] .std-form-layout > .form-layout > .form-page {
    --card-bg:transparent;
}
[data-theme="healthcare_theme"] .grid-heading-row{
  background: var(--default_clr);
  color: var(--active_bg_clr);
}
[data-theme="healthcare_theme"] .grid-heading-row use{
    --icon-stroke:var(--primary_clr);
    --icon-fill:var(--active_bg_clr);
}
[data-theme="healthcare_theme"] .grid-footer, .grid-custom-buttons {
    --fg-color:var(--card-bg);
}
[data-theme="healthcare_theme"] .layout-main-section.frappe-card {
    overflow: hidden;
    border-radius: var(--border-radius-md);
    padding: 0px;
    background-color: transparent;
    box-shadow: none;
    border: unset;}


  [data-fieldname="permissions"] .row {
    display: flex;
    
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em;
    border-radius: 1em;
    background-color: white;
    width: fit-content;
  }
  .perm-engine tbody tr{
    background-color: transparent;
    height: fit-content;
    width: fit-content;
  }
[data-fieldname="permissions"]  .row >  div {
    background-color: var(--active_txt_clr);
    margin-bottom: unset !important;
    max-width: fit-content;
    padding: unset;
    border-radius: 50em !important;
    position: relative;
  }
  
  [data-fieldname="permissions"]  .row >  div label  {
    background-color: var(--default_clr);
    height: fit-content;
    max-width: fit-content;
    border-radius: 50em !important;

    padding: .75em 1.5em;
    border: 1.4px solid var(--secondry_clr);
  }
[data-fieldname="permissions"] .row > div label input:checked {
    accent-color: var(--primary_clr); /* modern way */
}

/* OR if you want to change label background when checked */
[data-fieldname="permissions"] .row > div label:has(input:checked) {
    background-color: var(--primary_clr);
    border: 1.4px solid var(--primary_clr);

}
 [data-fieldname="permissions"] .row > div label:has(input) {
    display: none;

} 
[data-fieldname="permissions"]  .row >  div label:hover {
    background-color: var(--primary_clr);
    color: var(--active_txt_clr);
  }

[data-fieldname="permissions"]  .row >  div div p {
  position: absolute;
  bottom: 0;
  }

.btn.btn-link.icon-btn{
  background-color: var(--default_clr) !important;
}


